name: Docker Image CI

on:
  schedule:
    - cron: "0 3 * * 6"
  push:
    branches:
      - main
    paths:
      - 'library/**'
      - '.github/workflows/docker-images.yml'

jobs:
  python-images:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        images:
          - {name: "python", tag: "3.11.14", args: ""}
          - {name: "python", tag: "3.12.12", args: ""}
          - {name: "python", tag: "3.13.12", args: ""}
          - {name: "python", tag: "3.14.3", args: ""}

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Set QEMU
      uses: docker/setup-qemu-action@v3

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Login to DockerHub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DKH_USERNAME }}
        password: ${{ secrets.DKH_PASSWORD }}

    - name: Login to ACR
      uses: docker/login-action@v3
      with:
        registry: registry.cn-hangzhou.aliyuncs.com
        username: ${{ secrets.ACR_USERNAME }}
        password: ${{ secrets.ACR_PASSWORD }}

    - name: Set args
      run: |
        if [[ "${{ matrix.images.args }}" != "" ]]; then
            echo "tag=${{ matrix.images.tag }}-${{ matrix.images.args }}" >> $GITHUB_ENV
            echo "file=Dockerfile.${{ matrix.images.args }}" >> $GITHUB_ENV
        else
            echo "tag=${{ matrix.images.tag }}" >> $GITHUB_ENV
            echo "file=Dockerfile" >> $GITHUB_ENV
        fi

    - name: Build and Push images
      uses: docker/build-push-action@v6
      with:
        platforms: linux/amd64,linux/arm64
        context: library/${{ matrix.images.name }}/${{ matrix.images.tag }}
        file: library/${{ matrix.images.name }}/${{ matrix.images.tag }}/${{ env.file }}
        push: true
        tags: |
          kubeop/${{ matrix.images.name }}:${{ env.tag }}
          registry.cn-hangzhou.aliyuncs.com/kubeop/${{ matrix.images.name }}:${{ env.tag }}
    - name: Run Trivy vulnerability scanner
      uses: aquasecurity/trivy-action@0.28.0
      with:
        image-ref: kubeop/${{ matrix.images.name }}:${{ env.tag }}
        severity: "CRITICAL,HIGH"

  python-apps:
    needs:
      - python-images
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        images:
          - {name: "ansible", tag: "2.16.14", args: ""}
          - {name: "ansible", tag: "2.19.7", args: ""}
          - {name: "ansible", tag: "2.20.3", args: ""}

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Set QEMU
      uses: docker/setup-qemu-action@v3

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Login to DockerHub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DKH_USERNAME }}
        password: ${{ secrets.DKH_PASSWORD }}

    - name: Login to ACR
      uses: docker/login-action@v3
      with:
        registry: registry.cn-hangzhou.aliyuncs.com
        username: ${{ secrets.ACR_USERNAME }}
        password: ${{ secrets.ACR_PASSWORD }}

    - name: Set args
      run: |
        if [[ "${{ matrix.images.args }}" != "" ]]; then
            echo "tag=${{ matrix.images.tag }}-${{ matrix.images.args }}" >> $GITHUB_ENV
            echo "file=Dockerfile.${{ matrix.images.args }}" >> $GITHUB_ENV
        else
            echo "tag=${{ matrix.images.tag }}" >> $GITHUB_ENV
            echo "file=Dockerfile" >> $GITHUB_ENV
        fi

    - name: Build and Push images
      uses: docker/build-push-action@v6
      with:
        platforms: linux/amd64,linux/arm64
        context: library/${{ matrix.images.name }}/${{ matrix.images.tag }}
        file: library/${{ matrix.images.name }}/${{ matrix.images.tag }}/${{ env.file }}
        push: true
        tags: |
          kubeop/${{ matrix.images.name }}:${{ env.tag }}
          registry.cn-hangzhou.aliyuncs.com/kubeop/${{ matrix.images.name }}:${{ env.tag }}
    - name: Run Trivy vulnerability scanner
      uses: aquasecurity/trivy-action@0.28.0
      with:
        image-ref: kubeop/${{ matrix.images.name }}:${{ env.tag }}
        severity: "CRITICAL,HIGH"
